<div id="anfragen">
  <h2 class="text-3xl font-bold text-center pt-8">Anfragen</h1>
  <form
    target="_blank"
    action="https://formsubmit.co/your@email.com"
    method="POST"
  >
    <div class="mt-4">
      <div class="flex flex-row gap-4">
        <div class="flex-1">
          <input
            type="text"
            name="name"
            class="input"
            placeholder="Dein Name"
            required
          />
        </div>
        <div class="flex-1">
          <input
            type="email"
            name="email"
            class="input"
            placeholder="Deine Email"
            required
          />
        </div>
      </div>
    </div>
    <div class="">
      <textarea
        placeholder="Deine Nachricht"
        class="input mt-4 w-full min-h-30 pt-4 textarea"
        name="message"
        rows="10"
        required></textarea>
    </div>
    <button type="submit" class="btn bg-[#4C694E] text-white hover:bg-[#5d785f] btn-block my-4 rounded-lg"
      >Submit Form</button
    >
  </form>
</div>
