---

---

<div
    class="relative bg-cover bg-center text-white h-[100vh]"
    style="background-image: url('/mountain.webp');"
>
    <!-- Gradient overlay -->
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-white">
    </div>

    <div
        class="relative z-10 flex flex-col items-center justify-center h-full mx-4"
    >
        <img class="w-50 mb-16" src="logo-round-512x512.png" alt="" />
        <h1 class="text-3xl font-bold text-black text-center">
            Ein Ruheort in den Alpen
        </h1>
        <div class="flex flex-row items-center mt-8">
            <div class="flex flex-row items-center mr-8">
                <img
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1hcC1waW4taWNvbiBsdWNpZGUtbWFwLXBpbiI+PHBhdGggZD0iTTIwIDEwYzAgNC45OTMtNS41MzkgMTAuMTkzLTcuMzk5IDExLjc5OWExIDEgMCAwIDEtMS4yMDIgMEM5LjUzOSAyMC4xOTMgNCAxNC45OTMgNCAxMGE4IDggMCAwIDEgMTYgMCIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTAiIHI9IjMiLz48L3N2Zz4="
                    alt=""
                />
                <p class="ml-2 text-black">Dalaas, Österreich</p>
            </div>
            <a href="#anfragen">
                <button
                    class="btn bg-[#4C694E] text-white hover:bg-[#5d785f] rounded-lg"
                    >Anfragen</button
                >
            </a>
        </div>
    </div>
</div>
