<section class="mt-16 mb-4">
    <h2 class="text-3xl font-bold text-center mb-4">Fragen</h2>
    <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" checked="checked" />
        <div class="collapse-title font-semibold">
            Frage 1
        </div>
        <div class="collapse-content text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed ex voluptate reprehenderit minima voluptatum similique, delectus distinctio mollitia consequuntur.
        </div>
    </div>
    <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
            Frage 2
        </div>
        <div class="collapse-content text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat omnis natus hic pariatur dignissimos illo dolorum odit at, amet repellendus error ad cum.
        </div>
    </div>
    <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
            Frage 3
        </div>
        <div class="collapse-content text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusantium possimus est nisi animi ex consequuntur nobis expedita. Incidunt enim provident atque ullam blanditiis consequuntur esse ex sapiente pariatur molestias.
        </div>
    </div>
</section>
