---
const { rating, name, message } = Astro.props;

function getInitials(name: string): string {
    if (!name) return "";
    const parts = name.trim().split(" ");
    const first = parts[0]?.[0] || "";
    return first.toUpperCase();
}

const initials = getInitials(name);
---

<div class="card bg-gray-100">
    <div class="card bg-gray-100 p-4">
        <div class="flex flex-row items-center gap-2">
            <!-- <img class="w-6 h-6" src="user.svg" alt="user" /> -->
            <div class="avatar avatar-placeholder">
                <div class="bg-[#4C694E] text-neutral-content w-8 rounded-full">
                    <span class="xs">{initials}</span>
                </div>
            </div>
            <p>{name}</p>
        </div>
        <p>{message}</p>
    </div>
</div>
