---
import Review from "./Review.astro"
---

<section>
    <h2 class="text-3xl font-bold text-center pt-8">Bewertungen</h2>
    <div class="mt-4 flex flex-col sm:flex-row gap-4">
        <Review rating="5" name="Martin Gettner" message="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quos quas harum vitae cum suscipit rem, facilis eum vero." />
        <Review rating="4" name="Thomas" message="Esse quos quas harum vitae cum suscipit rem, facilis eum vero." />
    </div>
</section>
