---
import Review from "./Review.astro"
---

<section class="mt-16 container mx-auto">
    <h2 class="text-3xl font-bold text-center">Bewertungen</h2>
    <div class="mt-4 flex flex-col sm:flex-row gap-4">
        <Review name="Kirill" message="Sehr saubere und gemütliche Wohnung in wunderschöner Lage und einladende Gastgeber. Sehr empfohlen!" />
        <Review name="Elena" message="Die freundliche und herzliche Art unserer Vermieter, die schöne Lage mit dem tollen Ausblick und die sehr gute Ausstattung des Appartements haben uns gut gefallen. Zudem ist es nicht weit mit dem Auto ins nächste Skigebiet und an den Bodensee. Wir haben uns sehr wohl gefühlt." />
        <Review name="Albert" message="Schöne, saubere Unterkunft ohne viel Schnickschnack mit guten Preisleistungsverhältnis, gerne wieder" />
        <Review name="Georg" message="Sehr schöner Ort ob im Sommer oder Winter um sich zu erholen. Ganz toller Ausblick aus dem Fenster. Bei schönem  Wetter sieht man den Wasserfall.  Im Ort gibst ein Supermarkt  und Bäckerei. Die Besitzerin der Wohnung ist sehr Nett und hilfsbereit. Die Wohnung ist sehr schön und sauber eingerichtet. Wir kommen garantiert wieder." />
    </div>
</section>
